@{
    ViewData["Title"] = "AccessDenied";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center min-vh-100"><h1 class="text-danger text-center fs-1">AccessDenied</h1></div>
</body>
</html>
