@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Reset Password</h1>

<form asp-action="ResetPassword">
    <input type="hidden" asp-for="Email"/>
    <input type="hidden" asp-for="Token" />
    <input type="password" asp-for="Password" placeholder="Password" class="text">
    <div asp-validation-for="Password"></div>

    <input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
    <div asp-validation-for="ConfirmPassword"></div>
<div asp-validation-summary="All"></div>
    <input type="submit" value="ResetPassword" />

</form>
